extends layout
block body
  header
  main
    h1 Project Starter
    h2 For Free Code Camp Front End Projects
    button#test-button Click me
block scripts
  script(type='text/javascript', src='dist/js/all.js')
  script.
    document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
    ':35729/livereload.js?snipver=1"></' + 'script>')