extends layout
block body
  main
    h1 Project Starter
    h2 For Free Code Camp Front End Projects
    p If the button is green, bootstrap is installed.
    button.btn.btn-success#test-button Click me
    p#jquery-test If the background color is "skyblue".

