doctype html
html(lang="en")
  head
    block title
    meta(name="viewport", content="width=device-width, initial-scale=1.0, width=device-width, shrink-to-fit=no")
    meta(charset="UTF-8")
    block meta
    link(rel='shortcut icon', type='image/favicon.ico', href='dist/img/favicon.ico')
    link(rel='stylesheet', href='dist/css/all.css')
    block links
  body
    block body
    block scripts